<h1 mat-dialog-title>Write a Review</h1>

<div mat-dialog-content>
  <form [formGroup]="commentForm" id="comment-form">
    <textarea matInput placeholder="Write your review" formControlName="comment" rows="5"></textarea>
  </form>

  <div class="rating-container">
    <mat-icon *ngFor="let star of [1, 2, 3, 4, 5]" (click)="onStarClick(star)" [style.color]="star <= selectedRating ? 'gold' : 'gray'">star</mat-icon>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onSubmitReview()">Submit Review</button>
</div>
